*{
  font-family: 'Helvetica', sans-serif !important;
  color:#181836 !important;
}

body {
  background-color: #FAFCFE;
  
}

.navbar{
  border-bottom: 1px solid #445D713D;
}

.navbar-brand > img{
  width: 5.5rem;
  height: 1.8rem;
}

.nav-profil{
  width: 2.5rem;
}

.nav-logo-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26.5rem;;
}

.icon{
  width: 1.5rem;
}

.form-control{
  padding: 10px !important;
  width: 250px !important;
  height: 35px !important;
  background: transparent !important;
  border: 1px solid #979191 !important;
  border-radius: 15px !important;
}

aside{
  border-right: 1px solid #445D713D;
  width: 180px;
  height: 90.7vh;
  color:#676767;
}

.link-dark{
  color:#676767 !important;
}

.link-dark:hover{
  color:#445D71 !important;
}

.nav-item > .nav-div{
  display: none;
}

.nav-item:hover > .nav-div{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  transition: ease-in;
  cursor: pointer;
}

.nav-div{
  width: 8px;
  height: 30px;
  background: #445D71;
  border-radius: 10px 0px 0px 10px;
}

hr{
  width: 160px;
  background-color: rgba(68, 93, 113, 0.5);
}

.body-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  width: 175px;
  height: 85px;
  background: rgba(68, 93, 113, 0.1);
  border-radius: 10px;
}